* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    height: 60px;
    line-height: 60px;
    background-color: #ddd;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.burger-icon {
    display: block;
    margin-left: auto;
    padding: 0 30px;
    line-height: 60px;
    font-size: 30px;
    background: none;
    border: none;
    transition: color .3s;
    cursor: pointer;
}

.burger-icon:hover {
    color: red;
}

.nav-items {
    display: none;
}

@media (min-width: 768px) {
    .burger-icon {
        display: none;
    }

    .nav-items {
        display: block;
    }

    .nav-items a {
        padding: 0 30px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #333;
        transition: color 0.3s;
    }

    .nav-items a:hover {
        color: #09f;
    }
}